<ion-header>
  <ion-toolbar>
    <ion-title>chapter3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="/assets/chapter3.jpg" alt="" />
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat consequatur doloribus molestiae veniam beatae voluptatem qui? Nisi incidunt nobis quidem, adipisci placeat commodi deleniti, porro perferendis dolorem iusto consequuntur consequatur!</p>
<ion-button color="light"  [routerDirection]="'root'" [routerLink]="['/content3']">NEXT</ion-button>
<ion-button color="medium"  [routerDirection]="'root'" [routerLink]="['/content2']">Previous</ion-button>
<ion-button color="success"  [routerDirection]="'root'" [routerLink]="['/toc']">Go Back To TOC</ion-button>

<style>
  p{
    text-align: right;
  }
</style>
<p>5 </p>
</ion-content>
