<ion-header>
  <ion-toolbar>
    <ion-title>chapter2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="/assets/chapter2.jpg" alt="" />
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo magnam consectetur soluta alias cum, non nulla inventore dolores laudantium vel?</p>
  <ion-button color="light"  [routerDirection]="'root'" [routerLink]="['/content2']">NEXT</ion-button>
  <ion-button color="medium"  [routerDirection]="'root'" [routerLink]="['/content1']">PREVIOUS</ion-button>
  <ion-button color="success"  [routerDirection]="'root'" [routerLink]="['/toc']">Go Back To TOC</ion-button>

  <style>
    p{
      text-align: right;
    }
  </style>
  <p>3 </p>
</ion-content>
