<ion-header>
  <ion-toolbar>
    <ion-title>content2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
  <img src="/assets/content2.jpg" />
    <p> 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur eros et dignissim interdum. Praesent quis augue malesuada, aliquam metus id, aliquet leo. Morbi quis odio eget lacus egestas convallis vitae non turpis. Morbi ut ligula tincidunt eros viverra pellentesque. Vestibulum tristique interdum ante et interdum. Duis in diam justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam ornare metus sapien, sit amet finibus neque vehicula at. Vestibulum eget iaculis magna. Sed at lorem erat.

Aliquam egestas sed tellus nec dictum. Proin rhoncus mi vel odio sodales, ac dictum sapien consectetur. Sed non mi vulputate, rutrum dolor vitae, congue tortor. Donec aliquam interdum nulla quis dapibus. Curabitur tempus massa nibh, nec consectetur justo efficitur ut. Duis vestibulum enim ut nibh dapibus varius. Pellentesque consectetur neque lacus, non commodo turpis venenatis vitae. Quisque bibendum nulla ut sapien vestibulum bibendum.

Ut volutpat ornare ex, vel rhoncus nibh. In libero nibh, eleifend sit amet congue sed, molestie sit amet tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec aliquam sem sit amet ligula varius tincidunt. Aenean ullamcorper, eros vel interdum gravida, nisi dolor porta urna, vel auctor orci magna at sapien. Nullam tincidunt ultricies ligula, ac suscipit turpis laoreet in. Nam vehicula, quam eget vulputate gravida, velit turpis ornare leo, id aliquam nunc neque vel sapien. Phasellus tristique euismod auctor. Etiam orci mauris, sagittis a erat vitae, faucibus porttitor odio. Nulla consectetur velit non neque efficitur malesuada. Nulla venenatis dolor mattis, interdum urna sed, semper purus. Aenean sit amet dolor a risus sagittis consectetur in a felis. Ut dapibus malesuada purus sit amet pellentesque. Phasellus rhoncus erat magna, a auctor ligula cursus in. Suspendisse vel consectetur libero, non fermentum sapien.

In bibendum ex eu arcu scelerisque consectetur. Nam lobortis, augue ut sagittis imperdiet, urna dui fringilla massa, in faucibus ipsum sapien eget orci. Proin tempor, erat vitae bibendum ornare, neque nulla fringilla ante, vitae dapibus arcu lorem et urna. Donec ut ultrices enim. Praesent dapibus suscipit est. Fusce ac dui et sem pharetra efficitur non non enim. Proin vehicula libero sit amet leo egestas tristique. Mauris euismod sodales ex et congue. Suspendisse volutpat mollis diam feugiat ullamcorper. Sed faucibus odio id neque volutpat posuere. Suspendisse ac commodo sem. Nunc quis tortor lobortis justo cursus congue et sit amet est. Nunc eu massa suscipit, consequat lectus at, vulputate tellus. Nulla rhoncus convallis dignissim. Maecenas semper orci ut augue efficitur congue. Sed suscipit erat vitae augue vehicula, pretium auctor diam gravida.

Sed convallis rutrum lorem sed consequat. Mauris quis eros eleifend, convallis orci vitae, rhoncus nisi. Fusce rutrum felis tellus. Cras et magna elit. Ut egestas congue mauris, at dapibus est lobortis in. Suspendisse non risus sed nisl lacinia fringilla. Etiam volutpat suscipit mi, vitae tincidunt ante finibus non. Nulla facilisi. In hac habitasse platea dictumst. Aliquam in massa pretium, blandit purus a, condimentum tellus. Sed lobortis lorem et justo aliquam, ac bibendum enim elementum. Donec sodales auctor ante ac commodo. Nunc non metus suscipit, pellentesque libero sit amet, venenatis risus.
    </p>
    </ion-card>
  <ion-button color="light"  [routerDirection]="'root'" [routerLink]="['/chapter3']">Next</ion-button>
  <ion-button color="medium"  [routerDirection]="'root'" [routerLink]="['/chapter2']">Previous</ion-button>
  <ion-button color="success"  [routerDirection]="'root'" [routerLink]="['/toc']">Go Back To TOC</ion-button>

  <style>
    p{
      text-align: right;
    }
  </style>
  <p>4 </p>
</ion-content>
